# Dependencies
/node_modules/

# Testing & Coverage
/coverage/

# Production Build Outputs
/build/
/build-zip/
/dist/

# Turborepo & Cache
.turbo/
.eslintcache
.history/

# Environment Variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs & Local Databases
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
.automa/

# Secrets & Prod-only Business Stubs
secrets.production.js
secrets.development.js
get-pass-key.js
getPassKey.js
/business/prod/
/business/test/

# Temporary / Scratch Files
scratch/

# Operating System & IDE Files
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/settings.json

